<nav class="absolute top-0 z-50 w-full flex justify-end items-center px-2 py-3 bg-slate-900 shadow-md text-white gap-5">
  <a
    class="hover:underline"
    routerLink="/pokemons"
    routerLinkActive="text-blue-500 underline"
  >
    Pokemons
  </a>

  <a
    class="hover:underline"
    routerLink="/about"
    routerLinkActive="text-blue-500 underline"
  >
    About
  </a>

  <a
    class="hover:underline"
    routerLink="/contact"
    routerLinkActive="text-blue-500 underline"
  >
    Contact
  </a>

  <a
    class="hover:underline"
    routerLink="/pricing"
    routerLinkActive="text-blue-500 underline"
  >
    Pricing
  </a>
</nav>